[include]
  path = ~/.gitconfig.credential
[alias]
  a       = add .
  ach     = branch -a
  adp     = add -p
  amend   = commit --amend --no-edit
  amende  = commit --amend
  author  = "!git commit --amend --no-edit --author=\"$(git config user.name) <$(git config user.email)>\""
  bd      = !git branch -d
  bdd     = !git branch --merged | grep -v '*' | xargs -I{} git branch -d {}
  bdf     = !git branch -D
  bdi     = !git branch-d-i
  c       = checkout
  cb      = !git checkout -b
  cc      = !git checkout-i
  ccb     = !git checkout-b-i
  cancel  = reset --soft HEAD^
  cmfy    = !git current | perl -pe 's/_/ /g' | perl -pe 's|fix/|fix: |g' | perl -pe 's|feature/|feat: |g'
  cmfyu   = !git current | perl -pe 's/_/ /g' | perl -pe 's|fix/||g' | perl -pe 's|feature/||g' | perl -nle 'print ucfirst'
  cmfx    = "!git commit -m \"$(git cmfyu)\""
  cmfxe   = "!git commit -m \"$(git cmfy)\" && git amende"
  cmm     = commit -m
  cmminit = commit -m 'Initial Commit' --allow-empty
  current = !git rev-parse --abbrev-ref HEAD
  d       = !git checkout develop
  dc      = diff --cached
  dev     = !git checkout develop
  develop = !git checkout develop
  df      = diff
  fp      = fetch -p
  graph   = log --oneline --graph --decorate=full
  m       = !git checkout master
  mvb     = !git branch -m
  master  = !git checkout master
  pog     = log -p
  po      = push origin
  poc     = !git push origin $(git symbolic-ref --short HEAD)
  pocf    = !git poc -f
  pof     = push origin -f
  pod     = push origin develop
  pom     = push origin master
  pi      = !git push-i
  i       = !git branch-i
  pull-f  = !git fetch && git reset --hard origin/$(git current)
  r       = !git fp && git rebase
  ra      = rebase --abort
  rc      = rebase --continue
  rs      = rebase --skip
  ri      = !git rebase-i
  rod     = !git fetch && git rebase origin/develop
  rom     = !git fetch && git rebase origin/master
  rch     = branch -r
  sd      = stash drop
  sh      = stash
  sl      = stash list
  sp      = stash pop
  ss      = status --short --branch
  unstage = reset HEAD --
  wmm     = weed -m

  branch-i     = !git branch -a | fzf | sed -e 's/\\*//g'
  checkout-i   = !git checkout $(git branch-i | sed -e 's|remotes/origin/||g')
  checkout-b-i = !git checkout -b $(git branch-i | sed -e 's|remotes/origin/||g')
  copy-i       = !git git checkout $(git branch-i) -- $1
  push-i       = !git push origin $(git branch-i)
  branch-d-i   = !git branch -D $(git branch-i | sed -e 's/\\*//g')
  rebase-i     = !git rebase -i $(git log --oneline | fzf | awk '{ print $1 }')^
[core]
  excludesfile  = ~/.gitignore
	fileMode = true
[ghq]
  root    = ~/src
[color]
	ui      = true
[diff]
	compactionHeuristic = true
[commit]
	cleanup = strip
[grep]
	lineNumber = true
